{% extends "base.html" %}
{% block content %}
<div class="formbox">
<h2>{{ t.farmer_registration }}</h2>
<form method="post">
<label>{{ t.name }} *</label><input name="name" required>
<label>{{ t.mobile_number }} *</label><input name="phone" pattern="[0-9]{10}" maxlength="10" required>
<label>{{ t.village }}</label><input name="village">
<label>{{ t.password }} *</label><input type="password" name="password" minlength="4" required>
<button class="btn" type="submit">{{ t.register }}</button>
</form>
</div>
{% endblock %}
